<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <%# Force IE to display the page using the highest mode possible, and prevent IE from using Compatibility Mode %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="The University of Toronto Computer Science Student Union">

  <title>Computer Science Student Union</title>

  <%# favicon & social media images %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= favicon_link_tag 'apple-touch-icon-precomposed.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <%= favicon_link_tag 'social-media-logo.png', rel: 'image_src', type: 'image/png' %>

  <%# Include styles from 'application.css' and controller-specific styles %>
  <%= stylesheet_link_tag 'application', params[:controller], media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%# Google fonts %>
  <link href='https://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
</head>
<body>

  <%# Yield the content %>
  <%= yield %>

  <%# Footer partial %>
  <%= render 'layouts/footer' %>

  <%# Include javascripts from 'application.js' and controller-specific scripts %>
  <%= javascript_include_tag 'application', params[:controller], 'data-turbolinks-track' => true %>

  <%# Google Analytics %>
  <% unless Settings.ga_tracking_id.blank? %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '<%= Settings.ga_tracking_id %>', 'uofthacks.com');
      ga('require', 'displayfeatures');
      ga('require', 'linkid', 'linkid.js');
      ga('send', 'pageview');
    </script>
  <% end %>
</body>
</html>
