<% content_for :stylesheet_links do %>
  <%# Include styles from 'classic.css' %>
  <%= stylesheet_link_tag 'classic', media: 'all', 'data-turbolinks-track' => true %>
<% end %>
<% content_for :javascript_links do %>
  <%# Include javascript from 'classic.js' %>
  <%= javascript_include_tag 'classic', 'data-turbolinks-track' => true %>
<% end %>
<% content_for :content do %>
  <nav>
    <ul>
      <li><%= link_to 'Store', root_path %></li>
      <li><%= user_link %></li>
      <% if can? :read, User %>
        <li><%= link_to 'Users', admin_users_path %></li>
      <% end %>
    </ul>
  </nav>
  <%= yield %>
<% end %>
<%= render template: 'layouts/application' %>
